{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <br>
        <h1>Books</h1>
        {% if books == None %}
            <p>No authors in library</p>
        {% else %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Category</th>
                    <th scope="col">Publish date</th>
                </tr>
                </thead>
                <tbody>
                    {% for author in authors %}
                        <tr>
                            <th scope="row"></th>
                            <td>{{ author.name }}</td>
                            <td>{{ author.lastname }}</td>
                            <td>{{ author.nationality }}</td>
                            <td>{{ author.birth }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}