{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <br>
        <h1>Authors</h1>
        <a class="btn btn-primary" href="{% url 'add-author' %}" role="button">Add author</a>
        {% if authors == None %}
            <p>No authors in library</p>
        {% else %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Nationality</th>
                    <th scope="col">Birth</th>
                </tr>
                </thead>
                <tbody>
                    {% for author in authors %}
                        <tr>
                            <th scope="row"></th>
                            <td>{{ author.name }}</td>
                            <td>{{ author.lastname }}</td>
                            <td>{{ author.nationality }}</td>
                            <td>{{ author.birth }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}