{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <br>
        <h1>Books</h1>
        <a class="btn btn-primary" href="{% url 'add-book' %}" role="button">Add book</a>
        {% if books == None %}
            <p>No books in library</p>
        {% else %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Category</th>
                    <th scope="col">Publish date</th>
                </tr>
                </thead>
                <tbody>
                    {% for books in books %}
                        <tr>
                            <th scope="row"></th>
                            <td>{{ books.title }}</td>
                            <td>{{ books.author }}</td>
                            <td>{{ books.category }}</td>
                            <td>{{ books.publish_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}