{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <br>
        <h1>Books</h1>
        {% if borrowers == None %}
            <p>No borrowers in library</p>
        {% else %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">e-mail</th>
                    <th scope="col">Phone number</th>
                </tr>
                </thead>
                <tbody>
                    {% for borrower in borrowers %}
                        <tr>
                            <th scope="row"></th>
                            <td>{{ borrower.name }}</td>
                            <td>{{ borrower.lastname }}</td>
                            <td>{{ borrower.email }}</td>
                            <td>{{ borrower.phone }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}